#cesiumContainer {
  width: calc(100% - 300px);
  position: absolute;
  left: 300px;
  height: calc(100% - 50px);
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.5s;
}

#sidebar-wrapper {
  background: #fffbf5;
  transition: width 0.5s, left 0.5s;
}

#sidebar {
  width: 300px;
  position: absolute;
  left: 0%;
  height: calc(100% - 50px);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: inherit;
  color: black;
  transition: inherit;
}

#nav-header {
  height: 50px;
  background-color: #c55034;
  display: flex;
}

#sidebar-close-button {
  position: absolute;
  top: 70px;
  left: 300px;
  border-radius: 0 16px 16px 0;
  background: inherit;
  padding: 5px;
  height: 18px;
  transition: inherit;
}

#sidebar-close-button:hover {
  background-color: #5b8b51;
  cursor: pointer;
}

.sidebar-collapse-button-icon {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}

#zoom-td:hover {
  cursor: default;
}

.nav-buttons {
  margin-left: auto;
  margin-right: 10px;
  padding: 0px 5px;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
}

.share-button {
  padding: 0px 5px;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;
}

#user-dropdown-button {
  padding: 0px 5px;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  width: 35px;
}

#login-logout-button {
  padding: 5px;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

#login-logout-button-text {
  padding: 5px;
}

.share-button:hover,
#login-logout-button:hover,
#user-dropdown-button:hover {
  background-color: #5b8b51;
  cursor: pointer;
}

#user-dropdown-list {
  position: absolute;
  background-color: #efe5d5;
  top: 50px;
  z-index: 3;
  right: 15px;
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: black;
  border-color: #efe5d5;
  background-color: #fffbf5;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  background-clip: padding-box;
  min-width: 160px;
  font-size: 15px;
  padding: 5px 0px;
  display: none;
}

#share-dropdown-list {
  position: absolute;
  background-color: #efe5d5;
  top: 50px;
  z-index: 3;
  right: 60px;
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: black;
  border-color: #efe5d5;
  background-color: #fffbf5;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  background-clip: padding-box;
  min-width: 160px;
  font-size: 15px;
  padding: 5px;
  display: none;
}

#share-question {
  display: block;
}
#share-question-loader,
#share-link {
  display: none;
}

#sidebar-data-buttons {
  /* height: calc(100% - 34.6px); */
  height: 100%;
  overflow: auto;
}

.sidebar-item {
  padding: 10px;
  border-bottom: 1px solid #efe5d5;
}

.sidebar-text {
  padding: 10px 36px;
  border-bottom: 1px solid #efe5d5;
}

/* .sidebar-upload-button {
  height:0%;
  padding: 10px;
  border-top: 1px solid #efe5d5;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: #fffbf5;
}

.modal-header {
  color: black;
  padding: 2px 16px;
  width: calc(100% - 32px);
  border-bottom: 1px solid #efe5d5;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: #efe5d5;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  height: calc(100% - 55.68px - 34.6px);
  overflow: auto;
}

.upload-inputs {
  color: black;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0%);
  width: 75%;
  height: 100%;
  display: inline-grid;
  align-content: center;
}

.modal-upload-button {
  color: black;
  padding: 10px;
  border-top: 1px solid #efe5d5;
  text-align: center;
}

.sidebar-item:hover,
.sidebar-upload-button:hover,
.modal-upload-button:hover {
  background: #5b8b51;
  cursor: pointer;
}

.sidebar-accordion:after {
  content: "\25C4";
  color: black;
  float: right;
  margin-left: 5px;
}

.sidebar-accordion-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.sidebar-accordion-active:after {
  content: "\25BC";
}

.add-file-button:hover {
  cursor: pointer;
}

.input-line {
  flex-direction: row;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#graphs-modal {
  height: 40%;
  width: 40%;
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: black;
  display: none;
  min-width: 300px;
}

.graphs-modal-header {
  padding: 2px 16px;
  width: calc(100% - 32px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  height: 50px;
}

.close-graph {
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 6.5px;
}

.close-graph:hover,
.close-graph:focus {
  color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  cursor: pointer;
}

#graphs-container {
  height: calc(100% - 55px);
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.graph {
  height: 100%;
  width: 95%;
  scroll-snap-align: start;
}

.dropdown {
  display: none;
  position: absolute;
  background: #fffbf5;
  border: 1px solid #efe5d5;
  border-radius: 5px;
  overflow: hidden;
}

.dlDropdownRow {
  color: black;
  height: 12px;
  padding: 5px;
}

.dlDropdownRow:hover {
  background: #5b8b51;
  cursor: pointer;
}

.sidebar-button {
  float: right;
  margin-left: 5px;
}

.sidebar-button:hover {
  color: white;
}

.button-1 {
  background: rgb(237, 237, 237);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  color: black;
}

.button-1:hover {
  background: rgb(229, 229, 229);
}

.alpha-slider {
  color: black;
  padding: 5px;
}

.processing-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}

.loader-parent {
  display: flex;
  justify-content: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
