<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Use correct character set. -->
    <meta charset="utf-8" />
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="https://asdc.cloud.edu.au/media//CACHE/images/settings/ASDC_logo_c6xUEzs/ddec7e0d674ec4e8ffdc8c28b2b378fb.png" sizes="32x32">
    <title>ASDC Cesium Platform</title>
    <script
      type="text/javascript"
      src="/cesium/Apps/Sandcastle/Sandcastle-header.js"
    ></script>
    <script src="/cesium/Build/Cesium/Cesium.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/cesium/proj4/proj4.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      @import url(/cesium/Apps/Sandcastle/templates/bucket.css);
    </style>
  </head>
  <body>
    <nav id="nav-header">
      <a
        href="/cesium/Apps/ASDC/"
        style="align-self: center; margin-left: 15px; float: left"
      >
        <img
          src="https://asdc.cloud.edu.au/media/CACHE/images/settings/ASDC_logo_c6xUEzs/cc92e66c6b036538ec085ce7e3ad93e1.png"
          alt="WebODM"
        />
      </a>
      <a
        href="/cesium/Apps/ASDC/"
        style="
          align-self: center;
          margin-left: 5px;
          text-decoration: none;
          color: white;
          font-size: 15px;
          float: left;
        "
      >
        ASDC Cesium Platform
      </a>
      <div class="nav-buttons">
        <div id="share-button" class="share-button">Share</div>
        <div id="user-dropdown-button">
          <div class="fa fa-user fa-fw"></div>
          <div class="fa fa-caret-down"></div>
          <div id="user-dropdown-list">
            <div id="login-logout-button">
              <div class="fa fa-sign-out"></div>
              <div id="login-logout-button-text">Logout</div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="share-dropdown-list">
      <div id="share-question">
        <p id="share-question-text">
          By sharing this data, do you want to make it accessible and
          downloadable for anyone with the URL?
        </p>
        <div
          id="share-question-buttons"
          style="display: flex; justify-content: center"
        >
          <button
            id="share-question-yes"
            style="margin: 5px; width: 40px"
            title="Clicking Yes will make all the selected WebODM tasks public"
          >
            Yes
          </button>
          <button
            id="share-question-no"
            style="margin: 5px; width: 40px"
            title="Clicking No will require all the selected WebODM tasks to get manually shared with the user receiving the link"
          >
            No
          </button>
          <div id="share-question-loader" class="loader"></div>
        </div>
      </div>
      <div id="share-link">
        <input readonly type="text" id="share-input" style="width: 350px" />
        <button id="copy-share-link-button">Copy</button>
      </div>
    </div>
    <div id="cesiumContainer">
      <div
        style="
          z-index: 2;
          position: absolute;
          pointer-events: none;
          max-width: calc(100% - 230px);
          left: 30px;
          width: 50%;
        "
      >
        <table id="toolbars-container" style="table-layout: fixed; width: 100%">
          <tr id="cam-toolbar-row" style="display: none">
            <td style="width: 20%">Datasets in Map Area:</td>
            <td id="cam-toolbar" style="pointer-events: auto"></td>
          </tr>
          <tr id="dims-toolbar-row" style="display: none">
            <td style="width: 20%">Point Cloud Layers:</td>
            <td id="dims-toolbar" style="pointer-events: auto"></td>
          </tr>
          <tr id="image-series-toolbar-row" style="display: none">
            <td style="width: 20%">Image Geometry:</td>
            <td id="image-series-toolbar" style="pointer-events: auto"></td>
          </tr>
          <tr id="msse-slider-row" style="display: none">
            <td style="width: 20%">Point Budget:</td>
            <td style="pointer-events: auto">
              <input
                type="range"
                min="0"
                max="100"
                value="83"
                id="msse-slider"
                style="vertical-align: middle; max-width: 70%"
              />
              <span id="msse-value">83 %</span>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td
              id="zoom-td"
              style="pointer-events: auto; width: 20%"
              title="If checked, clicking on layer name will zoom to that dataset"
            >
              Zoom to dataset:
            </td>
            <td style="pointer-events: auto">
              <input
                type="checkbox"
                title="If checked, clicking on layer name will zoom to that dataset"
                checked="true"
                id="zoom-checkbox"
              />
            </td>
            <td
              id="timeline-td"
              style="pointer-events: auto; width: 20%"
              title="If checked, activating datasets will update the timeline's range"
            >
              Update timeline:
            </td>
            <td style="pointer-events: auto">
              <input
                type="checkbox"
                title="If checked, activating datasets will update the timeline's range"
                checked="true"
                id="timeline-checkbox"
              />
            </td>
            <td style="pointer-events: auto">
              <input
                type="button"
                value="Sync Timeline"
                title="Clicking will zoom the timeline to the activated datasets' time range"
                id="sync-timeline-button"
                class="cesium-button"
                style="width: 100%"
              />
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td style="pointer-events: auto">
              <input
                type="button"
                value="Clipping Box"
                id="clipping-box-button"
                class="cesium-button"
                style="width: 100%"
              />
            </td>
            <td style="pointer-events: auto">
              <input
                type="button"
                value="Draw"
                id="clip-draw-button"
                class="cesium-button"
                style="width: 100%; display: none;"
              />
            </td>
            <td style="pointer-events: auto">
              <input
                type="button"
                value="Remove"
                id="clip-remove-button"
                class="cesium-button"
                style="width: 100%; display: none;"
              />
            </td>
            <td style="pointer-events: auto">
              <input
                type="button"
                value="Export"
                title="Clicking will crop and export all the available supported point clouds within the region"
                id="clip-export-button"
                class="cesium-button"
                style="width: 100%; display: none;"
              />
            </td>
            <td style="pointer-events: auto">
              <input
                type="button"
                value="Copy Polygon to Clipboard"
                id="clip-copy-button"
                class="cesium-button"
                style="width: 100%; display: none;"
              />
            </td>
            <td id="clip-no-region" style="display: none">
              <div style="margin-left: 5px">
                No active datasets were found within the clipping box region.
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div id="sidebar-wrapper">
      <div id="sidebar-close-button">
        <svg width="18" height="18" viewBox="0 0 24 24">
          <path
            fill="black"
            d="M 2 2 L 20 20"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"
          />
          <path
            fill="black"
            d="M 20 2 L 2 20"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div id="sidebar">
        <div id="sidebar-data-buttons"></div>
      </div>
    </div>
    <div class="modal" id="upload-modal">
      <div class="modal-header">
        <span id="close-upload-modal" class="close">&times;</span>
        <h2>Upload</h2>
      </div>
      <div class="modal-content">
        <div class="upload-inputs">
          <br />
          <form name="upload-form" id="upload-form">
            <div class="input-line">
              <label for="name">Name:</label>
              <input type="text" name="name" required />
            </div>
            <br />
            <br />
            <div class="input-line">
              <input type="file" name="files[]" accept=".laz,.las" required />
              <input type="date" name="dates[]" required />
            </div>
          </form>
          <br />
          <button id="add-file-button" class="add-file-button">+</button>
          <br />
          <div>Only .laz and .las files are accepted</div>
          <br />
        </div>
      </div>
      <div id="modal-upload-button" class="modal-upload-button">Upload</div>
    </div>
    <div id="graphs-modal">
      <div class="graphs-modal-header">
        <span id="close-graph" class="close-graph">&times;</span>
        <h3 style="padding-left: 10px">Graphs</h3>
      </div>
      <div id="graphs-container"></div>
    </div>
    <div id="dlDropdown" class="dropdown">
      <div class="dlDropdownRow" id="dl-laz">LAZ Format (.laz)</div>
      <div class="dlDropdownRow" id="dl-las">LAS Format (.las)</div>
      <div class="dlDropdownRow" id="dl-xyz">XYZ Format (.xyz)</div>
      <div class="dlDropdownRow" id="dl-pcd">PCD Format (.pcd)</div>
      <div class="dlDropdownRow" id="dl-ply">PLY Format (.ply)</div>
      <div class="dlDropdownRow" id="dl-geojson">GeoJSON Format (.geojson)</div>
      <div class="dlDropdownRow" id="dl-json">JSON Format (.json)</div>
      <div class="dlDropdownRow" id="dl-gltf">GLTF/GLB Format (.gltf/.glb)</div>
      <div class="dlDropdownRow" id="dl-tif">GeoTIFF Format (.tif)</div>
    </div>
    <div class="modal" id="processing-wait-modal">
      <div class="processing-modal">
        <div class="loader"></div>
        Processing
      </div>
    </div>
    <div id="alpha-slider-container" class="dropdown">
      <div class="alpha-slider">
        Opacity:
        <input
          type="range"
          min="0"
          max="100"
          value="100"
          id="alpha-slider"
          style="vertical-align: middle"
        />
        <span id="alpha-value">100 %</span>
      </div>
    </div>
    <div class="modal" id="export-modal">
      <div class="processing-modal" id="export-modal-centre">
        <table>
          <tr>
            <td>Total Points:</td>
            <td id="export-modal-total-points">0</td>
          </tr>
          <tr>
            <td>Total Size:</td>
            <td id="export-modal-total-size">
              <div class="loader"></div>
            </td>
          </tr>
          <tr>
            <td>Number of Points Within the Area:</td>
            <td id="export-modal-export-points">
              <div class="loader"></div>
            </td>
          </tr>
          <tr>
            <td>Approximate Export Size:</td>
            <td id="export-modal-export-size">
              <div class="loader"></div>
            </td>
          </tr>
        </table>
        <div
          style="display: flex; justify-content: space-around; margin-top: 5px"
        >
          <button id="export-cancel" style="width: 60px; margin: 0 10px">
            Cancel
          </button>
          <button id="export-ok" style="width: 60px; margin: 0 10px">OK</button>
        </div>
      </div>
    </div>

    <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script src="/cesium/Apps/ASDC/<%= htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>
  </body>
</html>
